<!doctype html>
<html class="no-js" lang="zxx">
<head th:replace="view/head.html :: head"></head>
    <body>
    <!-- pre loader area start -->
    <div th:replace="view/loader :: loader"></div>
    <!-- pre loader area end -->
    <!-- header area start -->
    <div th:replace="view/header :: header"></div>
    <!-- header area end -->
    <!-- search bar area start -->
    <div th:replace="view/search :: search"></div>
    <!-- search bar area end -->

        <main>

            <!-- page title area start -->
            <section class="page-title" >
                <div class="page-title-inner d-flex align-items-center text-center" data-background="resources/static/img/page_title/page-title.jpg">
                    <div class="container">
                        <div class="rw">
                            <div class="col-xl-12">
                                <div class="page-breadcrumb">
                                    <h1>PHOENIX</h1>
                                    <nav aria-label="breadcrumb">

                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-details">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="page-details-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item">About</li>

                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- page title area end -->

            <!-- blog area start -->
            <section class="blog-area pt-100">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 ">
                            <div class="blog-wrapper pb-50 mb-50">
                                <div class="blog-inner">
                                    <div class="blog-img w-img">
                                        <img src="resources/static/img/blog/blog-details/blog-details-big.jpg" alt="">
                                    </div>
                                    <div class="blog-text mt-20">
                                        <h4><a href="#">Learn more about Phoenix </a></h4>
                                        <div class="blog-meta">
                                            <span>17 AUG 2021</span>
                                            <span><a href="#">BY : Admin</a></span>

                                        </div>
                                        <p>Phoenix is a leading travel operator with 25 years of experience based in Tirana, Albania. We offer group tours with set departure dates, Tailormade tours and Private tours in Albania and its surrounding counties, Montenegro, Kosovo, Italy, Aegan Islands,Dubai. Our client base is both independent travelers and trade partners.

                                            Our specialties include one-day and multi-day hiking tours and heritage tours. Our tours are focused on both Albanian nature and culture. We have also established ourselves as an authority for outdoor adventure activities in Albania such as cycling, sea-kayaking, rafting, snowshoeing and canyoning.

                                            Our tours are itinerary based, nature friendly tours, with a combination of culture – in other words, we show you around the countries with stops at several different destinations along the way so that you can see, learn and enjoy as much as possible. We don’t run package holidays with a single beach resort and we do not sell flight tickets either.</p>
                                        <h4>  What transport do we use?</h4>
                                        <p>  For transports we have conection with diferent companies. We have a reliable network of buses, planes and private cruises, and we work closely with several car rental companies. In addition Phoenix owns Toyota Land Cruisers (8+1) for small groups and off road experiences.

                                          Our logistic experts make it possible to access even the most remote corners of the country at any time of the year. Horse or mule carriage support is also provided in tours away from roads, such as multi-day trekking and mountaineering.</p>

                                        <div class="user-quote fix">
                                            <p> “Like all great travellers, I have seen more than I remember and remember more than I have seen.” </p>
                                            <h5> Benjamin Disraeli</h5>
                                        </div>

                                       <h4>PhoenixTour Leaders</h4>
                                        <p>  All our tour-leaders are fully trained and have a good level of English, Spanish, French and German and are experienced in dealing with western travelers.
                                            Our tour leaders are carefully selected and we value them very highly as we know how important a good tour leader is to the holiday experience of your clients. We are very pleased that most of our tour leaders have been working with us for many years.</p>


                                        <h4>Our choice of accommodation</h4>
                                        <p>During many years of operating we have established a trustworthy cooperation with small and bigger sized accommodation providers all around the country.
                                            We do our best to use accommodation which reflects the local area and the famous Albanian hospitality. The hotels we use are comparable with European bed and breakfasts or 2/3 star hotels. In addition we can organize a stay in more luxurious accommodations when/if requested.

                                            If you book a place on a tour joining a small-group departure, or as a private departure, then we will let you know the hotels to be used for your holiday a couple of weeks before you leave. If you have specific requests for particular hotels, then please request a tailor-made tour.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="blog-sidebar">
                                <div class="sidebar-widget mb-40">
                                    <div class="sidebar-widget-title mb-30">

                                    </div>
                                    <div class="sidebar-widget-content">

                                    </div>
                                </div>
                                <div class="sidebar-widget mb-40">
                                    <div class="sidebar-widget-title mb-30">

                                    </div>
                                </div>
                                <div class="sidebar-widget mb-40">
                                    <div class="sidebar-widget-title mb-30">

                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar-widget grey-bg-4 mb-40 pt-20 pl-20 pb-20">
                                    <div class="sidebar-widget-title mb-20">
                                        <h3 class="blog-right-line">Newsletter</h3>
                                    </div>
                                    <div class="sidebar-widget-content">
                                        <div class="news-letter">
                                            <a href="#">Creative News Game Add, </a>
                                            <a href="#">Good,</a>
                                            <a href="#">Creative,</a>
                                            <a href="#">Bussiness,</a>
                                            <a href="#">Winter,</a>
                                            <a href="#">Love,</a>
                                            <a href="#">Gallery,</a>
                                            <a href="#">Fashon  Mobile Apps,</a>
                                            <a href="#">Food,</a>
                                            <a href="#">Glass,</a>
                                            <a href="#">Popular Post,</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar-widget mb-40">
                                    <div class="sidebar-widget-title mb-30">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- blog area end -->
        </main>

    <div th:replace="view/footer.html :: footer"></div>
    <div th:replace="view/scripts :: scripts"></div>
    </body>
</html>
