<!doctype html>
<html class="no-js" lang="zxx">
    <head th:replace="view/head.html :: head"></head>

    <body>
        <!-- pre loader area start -->
        <div th:replace="view/loader :: loader"></div>
        <!-- pre loader area end -->

        <!-- header area start -->
        <div th:replace="view/header :: header"></div>
        <!-- header area end -->

        <!-- search bar area start -->
        <div th:replace="view/search :: search"></div>
        <!-- search bar area end -->


        <main>
            <!-- slider area start -->
            <section class="slider-area" th:fragment="slides" >
                <div class="hero-slider">
                    <div th:each ="tour: ${featuredTours}" th:if = "${tour.isFeatured()}" class="single-slider slider-height d-flex align-items-center p-relative" data-background="assets/img/slider/slider-1.jpg">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-9 col-lg-8 col-md-12">
                                    <div class="slider-content mt-120">
                                        <h1 data-animation="fadeInUp" data-delay=".3s" th:text="${tour.name}" ></h1>
                                        <p data-animation="fadeInUp" data-delay=".5s">Starting at <a th:text = "'€' + ${tour.salePrice}"></a> </p>

                                        <div class="slider-btn-wrapper">
                                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".7s">View more</a>
                                            <a href="#" class="btn btn-border" data-animation="fadeInUp" data-delay=".9s">more info</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 d-none d-lg-block">
                                    <div class="slider-man" data-animation="fadeInRight" data-delay="1.1s">
                                        <img src="img/slider/slider-man.png" alt="slider-man">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- slider area end -->

            <!-- about us area start -->
            <section class="about-us">
                <div class="container">
                    <div class="about-us-inner">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-5">
                                <div class="about-us-tab">
                                    <ul class="nav nav-tabs left-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="plane" aria-selected="true"><i class="fas fa-plane"></i>Travel By Plane</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="travel-tab" data-toggle="tab" href="#travel" role="tab" aria-controls="cruise" aria-selected="false"><i class="far fa-ship"></i> Travel By Cruise</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="life-tab" data-toggle="tab" href="#life" role="tab" aria-controls="bus" aria-selected="false"><i class="far fa-bus"></i> Travel By Bus</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-7">
                                <div class="about-us-tab-content">
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="plane" role="tabpanel" aria-labelledby="home-tab">
                                            <div class="about-content d-flex">
                                                <div class="about-thumb d-none d-xl-block">
                                                    <a href="https://www.youtube.com/watch?v=CnkJ7HpZdfk" data-fancybox class="play-btn"><i class="far fa-play-circle"></i></a>
                                                    <img src="img/about/plane.jpg" alt="about-1">
                                                </div>
                                                <div class="about-text ml-30">
                                                    <h3>Our Planes</h3>
                                                    <p>This is the prime airline of Hong Kong and many people agree the food is fantastic. Not only the food but the seats are very comfortable. The airline flies wide-body Boeing 777, 747s, and Airbus A330s and 340s.
                                                        The planes are very quiet and the staff is very attentive to passengers. Also, the entertainment is quite diverse as most flights are international thus need to accommodate to a variety of cultural preferences.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="travel" role="tabpanel" aria-labelledby="travel-tab">
                                            <div class="about-content d-flex">
                                                <div class="about-thumb d-none d-xl-block">
                                                    <a href="https://www.youtube.com/watch?v=8bEe--leIBE" data-fancybox class="play-btn"><i class="far fa-play-circle"></i></a>
                                                    <img src="img/about/cruise.jpg" alt="about-1">
                                                </div>
                                                <div class="about-text ml-30">
                                                    <h3>Our Cruises</h3>
                                                    <p>Imagine cruising just the way you want it: with no timetable to follow but your own. That is the freedom Norwegian Cruise Line provides in all our ships and itineraries. Indulge your taste buds at one of our wide-ranging dining options, or perhaps you would prefer a dinner and a show combination? Relax at some of the most spacious and modern staterooms in the cruise industry before venturing out to experience the shore excursion of your choice.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="life" role="tabpanel" aria-labelledby="car-tab">
                                            <div class="about-content d-flex ">
                                                <div class="about-thumb d-none d-xl-block">
                                                    <a href="https://www.youtube.com/watch?v=BXEgxHGgzfg" data-fancybox class="play-btn"><i class="far fa-play-circle"></i></a>
                                                    <img src="img/about/bus.jpg" alt="about-1">
                                                </div>
                                                <div class="about-text ml-30">
                                                    <h3>Our Busses</h3>
                                                    <p>With BestBus, you get a variety of pickup and drop-off locations across the country. Enjoy convenient access to Dupont and Union station in Washington, D.C., Penn Station in New York, and several Virginia and Delaware locations.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about us area end -->


            <!-- best money area start -->
            <section class="best-money pt-100 pb-125 grey-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <div class="best-money-content">
                                <h1>Best Money - North Albania</h1>
                                <p>Explore culture and history in North Albania on this 7-day tour. Explore mountainous terrain and small villages on this through the remote regions of northern Albania and see the ancient Rozafa Castle, then continue through the Albanian Alps to the scenic Rugova Valley,then take the ferry across Lake Koman.</p>
                                <div class="best-money-price">
                                    <span class="old-price">$ 500</span>
                                    <span class="new-price">300 $</span>
                                    <span>/ FOR PERSON</span>
                                </div>
                                <a href="/northAlbania" class="btn">BOOK NOW</a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <div class="best-money-img w-img">
                                <img src="img/best_money/best-money.jpg" alt="best-money">
                                <div class="best-money-countdown text-center">
                                    <div data-countdown data-date="Sep 02 2021 20:20:22">
                                        <ul>
                                            <li><span data-days>0</span> days</li>
                                            <li><span data-hours>0</span> hours</li>
                                            <li><span data-minutes>0</span> minutes</li>
                                            <li><span data-seconds>0</span> seconds</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- best money area end -->

            <!-- package area start -->
            <section class="package-area pt-80 pb-70">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 offset-xl-2">
                            <div class="sec-title text-center mb-50">
                                <h1>Top Tour Packages</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6" th:each="tour: ${topTours}" th:if = "${tour.reservations >= 7}">
                        <div class="things-img fix mb-30 w-img">
                            <img src="img/package/package-1.jpg" alt="best-things">
                            <div class="package-content">
                                <div class="package-info">
                                <h4><a th:href="@{/packages/{id}(id=${tour.id})}" th:text="${tour.name}"></a></h4>
                                <p th:text="${tour.title}"></p>
                                <p th:text="${tour.subtitle}"></p>
                                <div class="package-bottom d-flex justify-content-between">
                                    <div class="rating">
                                        <ul>
                                            <li><span><i class="fas fa-star"></i></span></li>
                                            <li><span><i class="fas fa-star"></i></span></li>
                                            <li><span><i class="fas fa-star"></i></span></li>
                                            <li><span><i class="fas fa-star"></i></span></li>
                                            <li><span><i class="fas fa-star"></i></span></li>
                                        </ul>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- package area end -->

            <!-- team area start -->
            <section class="team-area pt-80 pb-70 grey-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 offset-xl-2">
                            <div class="sec-title text-center mb-50">
                                <h1>Meet The Guides</h1>
                            <p></p></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="single-team mb-30">
                                <div class="team-thumb transition-3 w-img">
                                    <img src="/img/team/alexia.jpg" alt="team-1">
                                    <div class="team-content transition-3">
                                        <h4>ALeksia Bega</h4>
                                        <span>Director & CEO</span>
                                        <div class="team-social">
                                            <ul>
                                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
                                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="single-team mb-30">
                                <div class="team-thumb transition-3 w-img ">
                                    <img src="img/team/elia.jpg" alt="team-1">
                                    <div class="team-content transition-3">
                                        <h4>Elia Duda</h4>
                                        <span>Director & CEO</span>
                                        <div class="team-social">
                                            <ul>
                                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
                                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="single-team mb-30">
                                <div class="team-thumb transition-3 w-img">
                                    <img src="/img/team/erjon.jpg" alt="team-1">
                                    <div class="team-content transition-3">
                                        <h4>Erjon Zeqiri</h4>
                                        <span>Director & CEO</span>
                                        <div class="team-social">
                                            <ul>
                                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
                                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="single-team mb-30">
                                <div class="team-thumb transition-3 w-img">
                                    <img src="/img/team/juela.jpg" alt="team-1">
                                    <div class="team-content transition-3">
                                        <h4>Juela Ndreu</h4>
                                        <span>Director & CEO</span>
                                        <div class="team-social">
                                            <ul>
                                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fas fa-envelope"></i></a></li>
                                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- team area end -->

        </main>

        <div th:replace="view/footer.html :: footer"></div>
        <div th:replace="view/scripts :: scripts"></div>
    </body>
</html>
