<!DOCTYPE html>
<html lang="en">
<head th:replace="view/head.html :: head"></head>
<body>
<!-- pre loader area start -->
<div th:replace="view/loader :: loader"></div>
<!-- pre loader area end -->

<!-- header area start -->
<div th:replace="view/header :: header"></div>
<!-- header area end -->

<!-- search bar area start -->
<div th:replace="view/search :: search"></div>
<!-- search bar area end -->




<!-- end #header -->
<div id="page">
    <div id="page-bgtop">
        <div id="page-bgbtm">
            <div id="content">
                <div class="post">
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>

                    <div class="entry">
                        <!-- slider area start -->
                        <section class="slider-area">
                            <div class="hero-slider">
                                <div class="single-slider slider-height d-flex align-items-center p-relative" data-background="static/img/slider/slider-1.jpg">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xl-9 col-lg-8 col-md-12">
                                                <div class="slider-content mt-120">
                                                    <h1 data-animation="fadeInUp" data-delay=".3s">5 Days Tour to Northern Albania Price starting from 250€
                                                    </h1>
                                                    <p data-animation="fadeInUp" data-delay=".5s">Explore culture and history in North Albania on this 5-day tour. Explore mountainous terrain and small villages on this through the remote regions of northern Albania and see the ancient Rozafa Castle, then continue through the Albanian Alps to the scenic Rugova Valley,then take the ferry across Lake Koman.
                                                    </p>
                                                    <p data-animation="fadeInUp" data-delay=".5s">Itinerary</p>
                                                    <p data-animation="fadeInUp" data-delay=".5s">Day 1</p>
                                                    <p data-animation="fadeInUp" data-delay=".5s">Meet and assist the guide at Tirana airport. The guide will give you general information about the tour that you will have.
                                                        You will depart to Kruja city and there you will visit: The old Market, Bazaar and the Skanderbeg Museum and the Ethnographic Museum. Inside the old fortress You will Spend time in Kruja for shopping and pictures and Enjoy this stunning ottoman old Bazar. After lunch in a traditional restaurant drive to Shkodra. Start sightseeing the city. Center and Visit: :Rozafa Castle, Pedestrian Area, Buna River, Marubi Photographic Museum and the Kings
                                                        Mosque. Shkodra and its Castle is the biggest City of north Albania and the known like a historical point starting from the Illyrian Empire. (3rd Centery BC) First day you will check in Hotel and have free time

                                                        Dinner and overnight in Shkodra.

                                                        </p>

                                                    <p data-animation="fadeInUp" data-delay=".5s">Day 2</p>
                                                    <p data-animation="fadeInUp" data-delay=".5s">Start the Adventure to Thethi Village
                                                        Have breakfast in the hotel (or take small breakfast packets). and Start your trip to the mountains with Off-road car driven by a very professional Driver. Enjoy the driving while having photo stops or coffee breaks on the way Arrival in Thethi village and have lunch in the guesthouse. After having some free time in the Village start visiting the village with the guide. Several well-known writers that were impressed by its stunning and rather inaccessible location in the middle of vertical mountains have described the small village. Still today, most of the houses or ‘kulla’ are built in grey stone and roofed with wooden planks. Traditions remain strong and authentic. You will walk down from the house (850m) and visit the attractions of the village, including the
                                                        Church, Kulla e Ngujimit (a tower house used in the past by men as a shelter against ongoing
                                                        vendettas).
                                                        During the walk you will have many breaks for water or coffee. This part the walk will be mostly climbing. You will end up at the Thethi waterfall and peer at the rocky narrows of the Grunasi Canyon from the wooden bridge of Grela. Near the canyon are found stonewalled terraces dating from the late bronze era, revealed only in 2007.
                                                        Back to the guesthouse and have free time.

                                                        Traditional Dinner in the Guest House and overnight in Thethi. </p>

                                                    <p data-animation="fadeInUp" data-delay=".5s">Day 3</p>
                                                    <p data-animation="fadeInUp" data-delay=".5s">Enjoy Hiking Day to the “Blue Eye” of Thethi
                                                        After breakfast meet the Guide, take the picnic lunches and start the walking to Blue eye
                                                        After 8 km of nice walking near the Thethi river arrival to “Nderlysa” to discover the most interesting kind of Landscapes.
                                                        Have a break at this stunning place and after that, continue to the famous “Blue Eye”After 2 km of walking arrival at the blue eye and have to picnic lunch. Enjoy the exceptional source of water that it’s called Blue Eye. After the visit transfer back to the guesthouse by walking or by Car (which will be extra charge). Have traditional dinner in the guesthouse and taste Rakia an amazing alcohol beverage.

                                                        Overnight in Theth.</p>
                                                    <p data-animation="fadeInUp" data-delay=".5s">Day 4</p>
                                                    <p data-animation="fadeInUp" data-delay=".5s">Hiking Trip to the Top of Valbona Mountain
                                                        After breakfast meet the guide and depart to Valbona valley. You will leave your main belongings on Horses and you will keep for yourself a backpack including a bottle of water and food packages for lunch.
                                                        During the walk you will have many breaks for water or coffee. The walk will be mostly. This is the longest Hike day and it will be amazing.
                                                        After 3 hours hiking & climbing you will arrive at Valbona Neck, which lays 1820 m above the sea level. Have your picnic lunch at the famous Valbone Neck. Continue your walk.
                                                        Arrive in Valbona Village. Check – in at the guesthouse and have some free time for relaxation around the village. Have traditional dinner in the Guest House.

                                                        Overnight in Valbona.</p>
                                                    <p data-animation="fadeInUp" data-delay=".5s">Day 5</p>
                                                    <p data-animation="fadeInUp" data-delay=".5s">Going Back to Tirana
                                                        After breakfast depart to Port of Fierza to take the ferryboat.
                                                        Arrival at the port and take the ferry. Have free time to take pictures around the area that is very interesting and amazing. We depart to Tirana city. In Tirana we visit the main Boulevard, Skanderbeg Square, the Mosque, the Bunker, the Pyramid, Mother Theresa Square,
                                                        Administrative Buildings and Blloku. In the afternoon we visit Castle of Petrela. Dinner in traditional restaurant in Blloku and overnight in Tirana. Transfer to the airport for homebound flight.

                                                        This will be the end of our service.</p>

                                                    <div class="slider-btn-wrapper">
                                                        <a href="/payment" class="btn" data-animation="fadeInUp" data-delay=".7s">Book Now</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-4 d-none d-lg-block">
                                                <div class="slider-man" data-animation="fadeInRight" data-delay="1.1s">
                                                    <img src="img/south/south1.jpg" alt="slider-man">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                    </div>

                </div>
            </div>
        </div>



    </div>
</div>

</div>
</div>
</div>
</div>
</div>
</section>
<!-- slider area end -->

</div>
</div>


<div th:replace="view/footer.html :: footer"></div>
<div th:replace="view/scripts :: scripts"></div>

</body>
</html>