<!DOCTYPE html>
<html lang="en">
<head th:replace="view/head.html :: head"></head>
<body>
<!-- pre loader area start -->
<div th:replace="view/loader :: loader"></div>
<!-- pre loader area end -->
<!-- header area start -->
<div th:replace="view/header :: header"></div>
<!-- header area end -->
<!-- search bar area start -->
<div th:replace="view/search :: search"></div>
<!-- search bar area end -->


<!-- body of  page -->
<!-- best things area start -->
<section class="best-things pt-80 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <div class="sec-title text-center mb-50">
                    </br>
                    </br>
                    </br>
                    </br>
                    <h1>Best Things to Do in the City</h1>
                    <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim </p>
                </div>
            </div>
        </div>
        <div class="row grid">
            <div class="col-xl-6 col-lg-6 col-md-6 grid-item">
                <div class="things-img fix mb-30 w-img">
                    <img src="img/best_things/thing-1.jpg" alt="best-things">
                    <div class="things-content">
                        <h4><a href="/southalbania">South Albania</a></h4>
                        <span>Starting from €300</span>
                    </div>
                    <div class="things-btn transition-3">
                        <a href="/southalbania" class="btn btn-half-square">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 grid-item">
                <div class="things-img fix mb-30 w-img">
                    <img src="img/best_things/thing-2.jpg" alt="best-things">
                    <div class="things-content">
                        <h4><a href="/northAlbania">North Albania</a></h4>
                        <span>Starting from €300</span>
                    </div>
                    <div class="things-btn transition-3">
                        <a href="/northAlbania" class="btn btn-half-square">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 grid-item">
                <div class="things-img fix mb-30 w-img">
                    <img src="img/best_things/thing-3.jpg" alt="best-things">
                    <div class="things-content">
                        <h4><a href="#">Aegean Islands</a></h4>
                        <span>Starting from €1200</span>
                    </div>
                    <div class="things-btn transition-3">
                        <a href="#" class="btn btn-half-square">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 grid-item">
                <div class="things-img fix mb-30 w-img">
                    <img src="img/best_things/thing-4.jpg" alt="best-things">
                    <div class="things-content">
                        <h4><a href="#">Italy</a></h4>
                        <span>Starting from €1000</span>
                    </div>
                    <div class="things-btn transition-3">
                        <a href="#" class="btn btn-half-square">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 grid-item">
                <div class="things-img fix mb-30 w-img">
                    <img src="img/best_things/thing-5.jpg" alt="best-things">
                    <div class="things-content">
                        <h4><a href="#">Spain</a></h4>
                        <span>Starting from €800</span>
                    </div>
                    <div class="things-btn transition-3">
                        <a href="#" class="btn btn-half-square">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 grid-item">
                <div class="things-img fix mb-30 w-img">
                    <img src="img/best_things/thing-6.jpg" alt="best-things">
                    <div class="things-content">
                        <h4><a href="#">Dubai</a></h4>
                        <span>Starting from €1500</span>
                    </div>
                    <div class="things-btn transition-3">
                        <a href="#" class="btn btn-half-square">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- best things area end -->
<!-- end of body of  page -->

<div th:replace="view/footer.html :: footer"></div>
<div th:replace="view/scripts :: scripts"></div>
</body>
</html>