<!DOCTYPE html>
<html lang="en">
<head th:replace="view/head.html :: head"></head>
<body>
<!-- pre loader area start -->
<div th:replace="view/loader :: loader"></div>
<!-- pre loader area end -->
<!-- header area start -->
<div th:replace="view/header :: header"></div>
<!-- header area end -->
<!-- search bar area start -->
<div th:replace="view/search :: search"></div>
<!-- search bar area end -->


<!-- body of  page -->
<!-- best things area start -->
<section class="best-things pt-80 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <div class="sec-title text-center mb-50">
                    </br>
                    </br>
                    </br>
                    </br>
                    <h1>Packages</h1>
                </div>
            </div>
        </div>
        <div class="row grid">
            <div class="col-xl-4 col-lg-6 col-md-6 grid-item" th:each ="package: ${packages}">
                <div class="things-img fix mb-30 w-img">
                    <img src="img/best_things/thing-1.jpg" alt="best-things">
                    <div class="things-content">
                        <h4><a th:href="@{/packages/{id}(id=${package.id})}" th:text="${package.name}"></a></h4>
                        <span>Starting from €</span><span th:text="${package.salePrice}"></span>
                    </div>
                    <div class="things-btn transition-3">
                        <a th:href="@{/packages/{id}(id=${package.id})}" class="btn btn-half-square">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- best things area end -->
<!-- end of body of  page -->

<div th:replace="view/footer.html :: footer"></div>
<div th:replace="view/scripts :: scripts"></div>
</body>
</html>