<!DOCTYPE html>
<html lang="en">
<head th:replace="view/head.html :: head">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- pre loader area start -->
<div th:replace="view/loader :: loader"></div>
<!-- pre loader area end -->
<!-- header area start -->
<div th:replace="view/header :: header"></div>
<!-- header area end -->
<!-- search bar area start -->
<div th:replace="view/search :: search"></div>
<!-- search bar area end -->
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

<!-- sign in form area -->
<form id="signIn" th:action="@{/signin}" method="post">
    <h2>Sign In Form</h2>
    </br>
    <div th:if="${param.error}"> Invalid Username and Password </div>
    <div th:if="${param.logout}"> You Have Been Logged Out </div>
    <div class="input-container">
        <i class="fa fa-envelope icon"></i>
        <input class="input-field" type="email" placeholder="Email" name="email">
    </div>
    </br>
    <div class="input-container">
        <i class="fa fa-key icon"></i>
        <input class="input-field" type="password" placeholder="Password" name="password">
    </div>
    </br>
<!--<a th:href="@{/user/{id}(id=${user.id})}"></a>-->
    <button type="submit" class="btn">Sign In</button>
</form>
</br>
</br>
</br>
</br>
</br>



<div th:replace="view/footer.html :: footer"></div>
<div th:replace="view/scripts :: scripts"></div>
</body>
</html>