<!DOCTYPE html>
<html lang="en">
<head th:replace="view/head.html :: head"></head>
<body>
<!-- pre loader area start -->
<div th:replace="view/loader :: loader"></div>
<!-- pre loader area end -->
<!-- header area start -->
<div th:replace="view/header :: header"></div>
<!-- header area end -->
<!-- search bar area start -->
<div th:replace="view/search :: search"></div>
<!-- search bar area end -->
<!-- body of  page -->
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<p> Spain </p>
<!-- end of body of  page -->
<div th:replace="view/footer.html :: footer"></div>
<div th:replace="view/scripts :: scripts"></div>
</body>
</html>