<div id="footer" th:fragment="footer">
    <!-- scroll up area start -->
    <div class="scroll-up" id="scroll" style="display: none;">
        <a href="javascript:void(0);"><i class="far fa-angle-up"></i></a>
    </div>
    <!-- scroll up area end -->

    <footer class="footer-area grey-bg-2">
        <div class="footer-top pt-95 pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="footer-widget mb-50">
                            <div class="footer-title">
                                <h3>Get in Touch</h3>
                            </div>
                            <div class="footer-content">
                                <div class="footer-contact">
                                    <p>The Best Tour Agency Ever Created</p>
                                    <ul>
                                        <li>
                                            <div class="footer-contact-inner d-flex align-items-center">
                                                <div class="icon mr-20">
                                                    <span><i class="fas fa-map-marker-alt"></i></span>
                                                </div>
                                                <div class="text">
                                                    <p>Tirana, Albania</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="footer-contact-inner d-flex align-items-center">
                                                <div class="icon mr-20">
                                                    <span><i class="fas fa-phone-alt"></i></span>
                                                </div>
                                                <div class="text">
                                                    <p>+355 - 48564254</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="footer-contact-inner d-flex align-items-center">
                                                <div class="icon mr-20">
                                                    <span><i class="fal fa-envelope"></i></span>
                                                </div>
                                                <div class="text">
                                                    <p> phoenix@gmail.com</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                        <div class="footer-widget mb-50">
                            <div class="footer-title">
                                <h3>Quick Links</h3>
                            </div>
                            <div class="footer-content">
                                <div class="quick-links">
                                    <ul>
                                        <li><a href="#">Wellness</a></li>
                                        <li><a href="#">Vintage Stores</a></li>
                                        <li><a href="#">Trekking</a></li>
                                        <li><a href="#">Sightseeing</a></li>
                                        <li><a href="#">Tours</a></li>
                                        <li><a href="#">Sample Page</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-title">
                                <h3>Follow Us</h3>
                            </div>
                            <div class="footer-content">
                                <div class="follow-us">
                                    <ul>
                                        <li><a href="#">Facebook </a></li>
                                        <li><a href="#"> Affiliate</a></li>
                                        <li><a href="#"> Twitter</a></li>
                                        <li><a href="#">FAQ </a></li>
                                        <li><a href="#"> Google+</a></li>
                                        <li><a href="#"> Tutorial</a></li>
                                        <li><a href="#">Youtube</a></li>
                                        <li><a href="#">Groups</a></li>
                                        <li><a href="#">Instagram</a></li>
                                        <li><a href="#">USA</a></li>
                                        <li><a href="#"> Delhi</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 offset-xl-1 col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-widget mb-50">
                            <div class="footer-title">
                                <h3>Subscribe</h3>
                            </div>
                            <div class="footer-content">
                                <div class="subscribe">
                                    <p>Lorem ipsum dolor si consectetur adipisicing elit, sed eiusmotempor incididunt ut
                                        labore et</p>

                                    <div class="subscribe-form">
                                        <form action="#">
                                            <input type="email" placeholder="Type Your Email">
                                            <button class="sub-btn" type="submit"><i class="fas fa-location-arrow"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="social">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                            <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="footer-copyright-inner">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <div class="copyright-text">
                                <p>Copyright © 2021 <a href="#"> Design Expart 260</a>. All Rights Reserved.</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <div class="footer-policy ">
                                <a href="#">Terms & Condition</a>
                                <a href="#"> Privacy</a>
                                <a href="#">Support</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>