<!-- JS here -->
<div th:fragment="scripts">
  <script src="/js/vendor/modernizr-3.5.0.min.js"></script>
  <script src="/js/vendor/jquery-1.12.4.min.js"></script>
  <script src="/js/vendor/waypoints.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.meanmenu.min.js"></script>
  <script src="/js/slick.min.js"></script>
  <script src="/js/isotope.pkgd.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.nice-select.min.js"></script>
  <script src="/js/imagesloaded.pkgd.min.js"></script>
  <script src="/js/countdown.js"></script>
  <script src="/js/main.js"></script>
</div>
