<!-- slider area start -->
<section class="slider-area" th:fragment="slides" >
    <div th:each ="tour: ${featuredTours}" class="hero-slider">
        <div class="single-slider slider-height d-flex align-items-center p-relative" data-background="assets/img/slider/slider-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-8 col-md-12">
                        <div class="slider-content mt-120">
                            <h1 data-animation="fadeInUp" data-delay=".3s">PICK THE BEST CITY FOR YOU OUR DESTINATIONS</h1>
                            <p data-animation="fadeInUp" data-delay=".5s">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididu labore et dolore magna aliqua Ut enim ad minim veniam quis</p>

                            <div class="slider-btn-wrapper">
                                <a href="#" class="btn" data-animation="fadeInUp" data-delay=".7s">View more</a>
                                <a href="#" class="btn btn-border" data-animation="fadeInUp" data-delay=".9s">more info</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 d-none d-lg-block">
                        <div class="slider-man" data-animation="fadeInRight" data-delay="1.1s">
                            <img src="img/slider/slider-man.png" alt="slider-man">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-height d-flex align-items-center p-relative" data-background="assets/img/slider/slider-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-8 col-md-12">
                        <div class="slider-content mt-120">
                            <h1 data-animation="fadeInUp" data-delay=".3s">PICK THE BEST CITY FOR YOU OUR DESTINATIONS</h1>
                            <p data-animation="fadeInUp" data-delay=".5s">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididu labore et dolore magna aliqua Ut enim ad minim veniam quis</p>

                            <div class="slider-btn-wrapper">
                                <a href="#" class="btn" data-animation="fadeInUp" data-delay=".7s">View more</a>
                                <a href="#" class="btn btn-border" data-animation="fadeInUp" data-delay=".9s">more info</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 d-none d-lg-block">
                        <div class="slider-man" data-animation="fadeInRight" data-delay="1.1s">
                            <img src="img/slider/slider-man.png" alt="slider-man">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-height d-flex align-items-center p-relative" data-background="assets/img/slider/slider-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-8 col-md-12">
                        <div class="slider-content mt-120">
                            <h1 data-animation="fadeInUp" data-delay=".3s" th:text="${tour.name}" ></h1>
                            <p data-animation="fadeInUp" data-delay=".5s">Starting at <a th:text = "'€' + ${tour.price}"></a> </p>

                            <div class="slider-btn-wrapper">
                                <a href="#" class="btn" data-animation="fadeInUp" data-delay=".7s">View more</a>
                                <a href="#" class="btn btn-border" data-animation="fadeInUp" data-delay=".9s">more info</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 d-none d-lg-block">
                        <div class="slider-man" data-animation="fadeInRight" data-delay="1.1s">
                            <img src="img/slider/slider-man.png" alt="slider-man">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- slider area end -->